{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Casamento de Leo e Nay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'css/slider_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/superfish.css' %}" rel="stylesheet">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- Tag para tocar mídia de audio automaticamente -->
<audio controls autoplay>
  <source src="{% static 'audio/audio1.mp3' %}" type="audio/mp3">
</audio>


<div class="container ">

    <h1>Nossa História</h1>

    <div align="center" style="margin-bottom: 50px;"><img style="margin: auto;" alt="Leo e Nay" src="{% static 'img/img14.jpg' %}"></div>
    <p>"Nos conhecemos no final do ano de 2002, pelo antigo MIRC, numa conversa 

totalmente despretensiosa. Após aquela primeira conversa, eu a conheci pessoalmente no 

colégio, mas não nos falávamos muito. Um detalhe engraçado é que eu a achava muito 

metida, ahahaha. <p>

<p>No ano seguinte, por volta do mês de Maio, nós voltamos a nos aproximar, porém 

dessa vez a situação era diferente: Eu vinha de um fim de relacionamento e junto ao fim do 

relacionamento veio uma paixão repentina por Nayalla. Foi algo tão forte, que nem se quer 

esperei um tempo maior de aproximação, e com menos de 1 semana de conversas, já revelei 

para ela tudo que estava se passando e tentei uma investida num pedido de namoro que 

resultou em um não. O curioso foi que isso não nos distanciou, muito pelo contrário, acabamos 

nos tornando bons amigos. Partilhávamos de muitas conversas, cada um acabou por se 

envolver com outras pessoas e a amizade continuava normalmente. Muitos amigos meus 

achavam que não era só amizade, por conta da aproximação, mas era tudo muito normal 

para nós. Embora eu não podia negar que não tinha deixado de gostar dela, tanto que mesmo 

quando éramos apenas amigos, eu tentava uma investida, mas recebia um não.</p>

<p>Mas como o ditado diz: 'Dê tempo ao tempo', e assim foi. No final do ano de 2003, 

Nayalla descobriu de uma forma curiosa que estava começando a se interessar por mim. 

Foi quando ela me viu com uma namorada no colégio e se perguntou: "Se ele gosta de mim, 

porque está com aquela menina?". AhHahahaha! Ela finalmente viu o que realmente sentia, e 

desde então prometeu que se tivesse mais uma oportunidade comigo, não iria desperdiçar.</p>

<p>O mundo dá voltas, o tempo passa, o meu relacionamento não deu certo, e no ano de 

2004, no mês de Maio eu voltei a ter uma recaída por ela. Dessa vez, fui mais seguro do que 

queria e novamente me declarei. Dessa vez a tão esperada resposta foi ouvida: SIM!</p>

<p>Desde então, seguimos com um relacionamento muito forte, seguro, com bastante 

companheirismo e união. Nós nos completamos e provamos isso com o passar dos anos. 

Superamos a distância, superamos as diferenças e aprendemos a conviver com elas, afinal 

de contas não tem graça ser tudo igual, pois as diferenças tornam o relacionamento mais 

completo, juntando o que há de melhor nos dois. </p>

<p>Não preciso fazer mais perguntas a mim mesmo sobre estar certo do que eu quero, 

pois o que eu quero é estar ao lado da mulher que me faz feliz a quase 10 anos. Eu não tenho 

dúvidas que isso era pra ser desse jeito mesmo, não acredito em destino, mas nós somos uma 

exceção à minha crença."</p>

<p>É com muito prazer e alegria que compartilho com todos os convidados esse pequeno trecho 

que mostra em poucas palavras como foi que eu conheci àquela que será a minha esposa e a 

mãe dos meus filhos.</p>

<p>Rumo ao casamento!!!</p>

<p>Ass: Leo</p>


<h4 align="right"><a href="{% url 'index' %}">Voltar</a></h4>

</div>
<!--container ends-->

<footer id="footer" class="gray-bg">
    <div class="container top60">
        <div class="row bottom30">
            <div class="span3">
                <h4>Endereço</h4>
                <address>BR 423, 440 Heliópolis CEP: 55.297-130</address>
            </div>
            <div class="span3">
                <h4>Endereços das famílias</h4>

                <h5> da Noiva </h5>
                <p>Rua Severiano Peixoto, 208. Bairro Santo Antonio Garanhuns-PE</p>

                <h5> do Noivo </h5>
                <p>Avenida Santa Rosa, 320.

                Bairro Heliópolis Garanhuns-PE</p>
            </div>
            
            <div class="span3">
                <h4>Endereço dos noivos</h4>

                <p>Rua Capitão Aurélio de Araújo, 325. Ap 502 Bl. C

                Condomínio Privê das Palmeiras

                Bairro Iputinga  Recife - PE</p>
            </div>
            <div class="span3">
                <h4>Telefones para Contato</h4>

                <h5>Nayalla</h5>

                <p>OI - (81) 8673-5442</p>
                <p>TIM - (81) 9725-3074</p>

                <h5>Leonardo</h5>

                <p>OI - (81) 8506-1693</p>
            </div>
 


 


 

            </div>
        </div>
    </div>
    <!-- /container -->
</footer>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.04022.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script>
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">

    $('.carousel').carousel({
        interval: 2000
    })

</script>

</body>
</html>
