﻿{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Casamento de Leo e Nay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'css/slider_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/superfish.css' %}" rel="stylesheet">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- Tag para tocar mídia de audio automaticamente -->
<audio controls autoplay>
  <source src="{% static 'audio/audio1.mp3' %}" type="audio/mp3">
</audio>


<div class="container ">
    <div class="row top60 bottom30">
        <h1>Casamento de Leo e Nay</h1>
    </div>

    {% if messages %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
<!--Slider begins here-->

<div class="container" >

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img1.png' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img2.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img3.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img4.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img5.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img6.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img7.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img8.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img9.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img10.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img11.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img12.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img13.jpg' %}"></div>
        <div class="item img-responsive" align="center"><img alt="Leo e Nay" src="{% static 'img/img14.jpg' %}"></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>


</div>
<div class="container">
    <!--Message area box-->
    <div class="hero-unit make-center">
        <h2>Dia 3 de Maio em Garanhuns</h2>

        <hr>

        <h2><a href="https://presentes.ferreiracosta.com/ListaCasamentos/">Lista de Casamento</a></h2>
        <p>Lá vocês preenchem o campo com o nome dos noivos (basta colocar o de Nayalla) e colocam a cidade (não é preciso preencher o restante).</p>

        <hr>

        <h2><a href="{% url 'nossa-historia' %}">Nossa História</a></h2>
    </div>

    <hr class="divider-extra">
    <h2>Créditos para a Lua de Mel</h2>
    <p>Se você prefere ajudar na lua de mel ao invés de dar um presente da lista, você pode contribuir registrabdo o valor aqui no site.</p>
    <form class="horizontal-form" method="POST">
        {% csrf_token %}
            <div class="row">
                {{ form.name.errors }}
                <div class="span3">
                    <h3>{{ form.name.label }}</h3>
                        <p>{{ form.name }}</p>
                </div>
            </div>
            <div class="row">
                {{ form.gift.errors }}
                {% for choice in form.gift.field.choices %}
                    {% if forloop.first %}
                    {% else %}

                    <div class="radio span3">
                        <label for="id_gift_{{ choice.0 }}"><input id="id_gift_{{ choice.0 }}" type="radio" name="gift" value="{{ choice.0 }}" /><h4>{{ choice.1 }} - R$ {{ choice.2.price|floatformat:2 }}</h4></label>
                        <img src="{{ MEDIA_URL }}{{ choice.2.picture }}" />
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br />
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
</div>
<!--container ends-->

<footer id="footer" class="gray-bg">
    <div class="container top60">
        <div class="row bottom30">
            <div class="span3">
                <h4>Endereço</h4>
                <address>BR 423, 440 Heliópolis CEP: 55.297-130</address>
            </div>
            <div class="span3">
                <h4>Endereços das famílias</h4>

                <h5> da Noiva </h5>
                <p>Rua Severiano Peixoto, 208. Bairro Santo Antonio Garanhuns-PE</p>

                <h5> do Noivo </h5>
                <p>Avenida Santa Rosa, 320.

                Bairro Heliópolis Garanhuns-PE</p>
            </div>
            
            <div class="span3">
                <h4>Endereço dos noivos</h4>

                <p>Rua Capitão Aurélio de Araújo, 325. Ap 502 Bl. C

                Condomínio Privê das Palmeiras

                Bairro Iputinga  Recife - PE</p>
            </div>
            <div class="span3">
                <h4>Telefones para Contato</h4>

                <h5>Nayalla</h5>

                <p>OI - (81) 8673-5442</p>
                <p>TIM - (81) 9725-3074</p>

                <h5>Leonardo</h5>

                <p>OI - (81) 8506-1693</p>
            </div>
 


 


 

            </div>
        </div>
    </div>
    <!-- /container -->
</footer>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.04022.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script>
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">

    $('.carousel').carousel({
        interval: 2000
    })

</script>

</body>
</html>
