/*Extra alignment*/
body{
  background: url(../img/tex2res5.png)repeat;
}
.make-center{
    text-align: center;
}
.top60{
    margin-top:60px;
}
.bottom30{
    margin-bottom:30px;
}
.right10{
    margin-right: 10px;
}
.divider-extra{
border-bottom: 1px solid #c6c6c6;
border-top: 1px solid #fafafa;
height:2px;
}

/*Hesder settings*/
.logo {
    display: inline-block;
    width: 146px;
    height: 146px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin-top: 1px;
}
#main-menu{

}
.main-menu {
    background: none repeat scroll 0 0 #272727;
    border: 1px solid #272727;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
    min-height: 41px;
}
.mobile-menu {
    font-size: 1.2em;
    height: 41px;
    line-height: 1.6em;
    margin-bottom: 0;
    padding: 10px;
    width: 100%;
}
.white-shadow{
    box-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}
.dropcaps {
    background: none repeat scroll 0 0 #828282;
    border: 1px solid #828282;
    border-radius: 18px 18px 18px 18px;
    color: #F5F5F5;
    display: block;
    float: left;
    height: 18px;
    margin: 0 14px 5px 0;
    padding: 8px;
    text-align: center;
    width: 18px;
}
.carousel-control-extra {
    border: 1px solid #1A1A1A;
    border-radius: 0 0 0 0;
    font-size: 18px;
    line-height: 37px;
    top: 50%;
}
.frame {
    border: 10px solid #FFFFFF;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    }
.technology {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #FFFFFF;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 20px;
}
.technology li{
    display: inline;
}
.gray-bg {
    background:url(../img/tex2res4.png) repeat scroll 0 0 #272727;
    border-top: 1px solid #FCFCFC;
    color: #F5F5F5;
    outline: 1px solid #A0A0A0;
}


/*=======================Contacts page form settings===================*/
#contact-form input, #contact-form textarea{
    width:98%;
margin-bottom: 20px;
}
#contact-form input.btn{
    width:100px;
}
/*========================Twitter script settings=====================*/
.jta-tweet-list{
margin-left: 0px;
    list-style-type:none;
}
a.jta-tweet-profile-image-link>img{
    padding:5px;
}
.jta-tweet-list-item{
    margin-bottom: 10px;
}
/*====================footer contact form settings==================*/
#footer #contact {
    margin-bottom: 0;
}
#footer #contact .controls{
margin-left: 0px;
}
#footer #contact .controls input, #footer #contact .controls textarea{
    width:99%;
    }
#footer #contact .control-group {
    margin-bottom: 5px;
}
#footer #contact input[type="text"] {
    background:  repeat scroll 0 0 transparent;
    border: 1px inset rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    color: #777777;
    height: 19px;
    margin-bottom: 1px !important;
    padding: 3px 5px;
}
#footer #contact span {
    color: #777777;
    display: inline-block;
    font-size: 13px;
    width: 44px;
}
#footer #contact input:focus, #footer #contact textarea:focus {
    background-color: rgba(150, 150, 150, 0.1) !important;
    box-shadow: none;
}
#footer #contact textarea {
    background:  repeat scroll 0 0 transparent;
    border: 1px inset rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    color: #777777;
    height: 66px;
    margin-bottom: 2px;
    overflow: auto;
    padding: 5px;
}
#footer #contact p {
    margin-bottom: 5px;
}
#footer #contact .btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid #343434;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #7D7D7D;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    margin-right: 3px;
    padding: 4px 10px;
    text-shadow: none;
}
#footer #contact .btn:hover {
    background-color: rgba(150, 150, 150, 0.1);
    text-decoration: none;
}
.submit-div{
    max-width:320px
}

@media only screen and (max-width: 767px) {
  footer{
      margin-left: -21px;
      margin-right: -21px;
      padding-left: 20px;
      padding-right:20px;
  }
}